
.flex-wrap {
    min-height: 100vh;
}

.flex {
    display: flex;
    flex: 1 1 auto;
}

.flex-v {
    flex-direction: column;
}

.vh-4-10 {
    min-height: 15rem;
    height: 50vh;
    flex-basis: auto;

    @media only screen and (max-height: (700 / 13) * 1em) {
        height: 35vh;
        flex-basis: 35vh;
    }
}

.vh-6-10 {
    height: 58vh;
    min-height: (450px / 15px) * 1em;
    flex-shrink: 0;
    margin-bottom: 3rem;

    @media only screen and (max-width: (640 / 13)*1em) {
        height: auto;
    }
}

.hero {
    background-color: color('link');
    justify-content: space-between;
    max-height: (1.5rem * 26);
    position: relative;
    background-image: url('bg_hero_5.jpg');
    background-position: center 55%;
    background-size: cover;
    width: 100%;
    padding: 0;
    flex-shrink: 2;
    flex-grow: .5;
}

.hero:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	top: 0;
	width: 100%;
	background: linear-gradient(to bottom,
        rgba(13,50,70, .5) 0%,
        rgba(29,41,55,.08) 35%,
        rgba(color(subtle), .5), 87%,
        color(subtle) 98%
    );

}

.hero_logo {
    min-height: 30%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-basis: 2.5rem;
    flex-grow: 1.75;
    position: relative;
}

.hero_logo img {
    flex: 0 0 auto;
    align-self: center;
    justify-content: center;
    height: auto;
}

.hero_nav {
    flex-shrink: 1;
    flex-grow: .5;
    flex-basis: 9rem;
}

.card-group {
    justify-content: space-around;
    flex-direction: row;
    max-width: 1100px;
    padding: .75rem 0;
    flex-basis: 1100px;
}

.card {
    overflow: auto;
}

.card-flex {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 22rem;
    margin: .25rem .375rem;
    height: auto;
    margin-bottom: 0;
	box-shadow: 0 1px 10px rgba(clr(shadow), 0.125);
}

.card:hover,
.card:focus {
    transform: scale(1.0125);
    box-shadow: 0 8px 10px -6px rgba(clr(shadow), .3),
    0 3px 4px -2px rgba(clr(shadow),.2);
}

.card:active {
    color: lighten(color(link), 15%);
    transform: scale(1.0135);
    box-shadow: 0 8px 10px -3px rgba(clr(shadow), .4),
        0 3px 4px -2px rgba(clr(shadow),.3);
}

.list_view {
    .card:hover,
    .card:focus {
        transform: scale(1.005);
    }
}

.card-flex_head {
    display: flex;
    min-height: 9vh;
    max-height: (125px / 15px) * 1em;
    flex-basis: 70px;
    flex-shrink: .5;
    flex-grow: .5;
    overflow: hidden;

    @media only screen and (max-height: 800px) {
        min-height: 7vh;
    }
}

.card-flex .card_body {
    display: flex;
    padding: .75rem .25rem;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
