$grid-columns: 12;

@import 'grid';
@import 'colors';


html {
    overflow-y: scroll;
    @media only screen and (min-width: 640px){
        font-size: 86%;
    }
    @media only screen and (max-width: 639px){
        font-size: 75%;
    }
}

//////////Grid//////////////

.row > * {
    letter-spacing: normal;
    word-spacing: normal;
}

.wrap {
    max-width: 940px;

    @media only screen and (max-height: (760 /13.76) * 1em ) {
        padding-top: (1.5 * .5) * 1em;
    }
}

.c-4-12 {
    @include grid(4);

    @media only screen and (max-width: (640px/13.76px) * 1em) {
        @include grid(5)
    }
}

.c-5-12 {
    @include grid(5);
}

.c-7-12 {
    @include grid(7);
}

.small_full {
    @media only screen and (max-width: (480px/13.76px) * 1em) {
        width: 100%;
    }
}

.push-1-12 {
    position: relative;
    left: width(1);
}

.smalls-push-0 {
    @media only screen and (max-width: (640px/13.76px) * 1em) {
        left: 0;
    }
}

//////////Utility Classes//////////////

.bg-white {
    background-color: rgba(#fff, .2);
}
.bg-gray {
    background-color: color('form');
}
.bg-blue {
    background-color: color('link');
}


//////////Flex Grid//////////////

.flex-wrap {
    min-height: 100vh;
}

.flex {
    display: flex;
    flex: 1 1 auto;
}

.flex-v {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.vh-4-10 {
    min-height: 15rem;
    height: 50vh;
    flex-basis: auto;

    @media only screen and (max-height: (785px/13.76px) * 1em) {
        height: 42vh;
        flex-basis: 42vh;
    }

    @media only screen and (max-height: (700px/13.76px) * 1em) {
        height: 36vh;
        flex-basis: 36vh;
    }
}

.vh-6-10 {
    height: 58vh;
    min-height: (450px / 13.76px) * 1em;
    flex-shrink: 0;
    margin-bottom: 3rem;

    @media only screen and (max-width: (640 / 13.76)*1em) {
        height: auto;
    }
}


//////////Top//////////////

.hero {
    background-color: color('link');
    justify-content: space-between;
    max-height: (1.5rem * 26);
    position: relative;
    background-image: url('bg_hero_5.jpg');
    background-position: center 55%;
    background-size: cover;
    width: 100%;
    padding: 0;
    flex-shrink: 2;
    flex-grow: .5;
}

.hero:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	top: 0;
	width: 100%;
	background: linear-gradient(to bottom,
        rgba(13,50,70, .5) 0%,
        rgba(29,41,55,.08) 35%,
        rgba(color(subtle), .5), 87%,
        color(subtle) 98%
    );

}

.hero_logo {
    min-height: 30%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-basis: 2.5rem;
    flex-grow: 1.75;
    position: relative;
}

.hero_logo img {
    flex: 0 0 auto;
    align-self: center;
    justify-content: center;
    height: auto;
}

.hero_nav {
    flex-shrink: 1;
    flex-grow: .5;
    flex-basis: 9rem;
}

//////////Cards//////////////

.card-group {
    justify-content: space-around;
    flex-direction: row;
    max-width: 1100px;
    padding: .75rem 0;
    flex-basis: 1100px;
}

.card {
    overflow: auto;
}

.card_head_image {
    padding-top: .75rem;
    padding-bottom: .75rem;

    @media only screen and (max-height: (800px/13.76px) * 1em) {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

.card_head_image {
    width: 22%;

    @media only screen and (max-height: (800px/13.76px) * 1em) {
        width: 16%;
    }

    @media only screen and (max-width: (575px/13.76px) * 1em) {
        width: 30%;
    }
    @media only screen and (max-width: (500px/13.76px) * 1em) {
        width: 3.5rem;
    }

    .list_view & {
        max-height: none;
    }
}

.card-flex {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 22rem;
    margin: .25rem .375rem;
    height: auto;
    margin-bottom: 0;
	box-shadow: 0 1px 10px rgba(clr(shadow), 0.125);
}

.card-flex_head {
    display: flex;
    min-height: 9vh;
    max-height: (125px / 15px) * 1em;
    flex-basis: 70px;
    flex-shrink: .5;
    flex-grow: .5;
    overflow: hidden;

    @media only screen and (max-height: (800px/13.76px) * 1em) {
        min-height: 7vh;
    }
}

.card-flex .card_body {
    display: flex;
    padding: .75rem .25rem;
}


.card:hover,
.card:focus {
    background-color: lighten(color(highlight), 5%);
    transform: scale(1.0125);
    box-shadow: 0 8px 10px -6px rgba(clr(shadow), .3),
    0 3px 4px -2px rgba(clr(shadow),.2);
}

.card:active {
    color: lighten(color(link), 15%);
    transform: scale(1.0135);
    box-shadow: 0 8px 10px -3px rgba(clr(shadow), .4),
        0 3px 4px -2px rgba(clr(shadow),.3);
}

//////////Small Cards//////////////

.card .box_flag_body {
    padding-bottom: .375rem;
}

.list_view {

    .card:hover,
    .card:focus {
        transform: scale(1.005);
    }

    .card-short {
        height: auto;
        width: 100%;
        margin-bottom: .75rem;
        border-bottom: 1px solid color(form);
        box-shadow: none;
        transform-origin: 50% 50%;
    }

    .card:hover .card_media {
        background-color: color(link, .9)
    }

    .card_media {
        transition: background 100ms ease-in;
        min-height: (1.5rem * 3.5);
        width: (1.5rem * 4);
        float: none;
    }

}


//////////Web Tools//////////////
.list_nav li {
    margin-bottom: (1.5rem / 4);
}

.list_nav a {
    padding: .5rem;
    left: -.5rem;
    position: relative;
    transition: background 75ms ease-out;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    border-radius: 2px;
}

.list_nav a:hover {
    background-color: rgba(color('highlight'), .6);
    border-radius: 3px;
}

//////////Sticky Bottom Bar//////////////

.row-even {
    display: table;
    table-layout: auto;
    min-width: 100%;
}

.webbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: mix(color('label'), color('subtle'), 10%);
    padding: .5rem 2% .2rem .5%;
}

.webbar_item {
    display: table-cell;
    direction: ltr;
    padding: .25rem 2.35% .05rem;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 15%;
}

.webbar_item-group {
    direction: rtl;
    display: table-cell;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.webbar_item-group .webbar_item {
    width: 20%;
}

.webbar_item img {
    width: 36px;
    max-width: none;
}


a.webbar_item:hover,
a.webbar_item:focus {
    border-color: color(link, .25);
    outline: none;
}

a.webbar_item:active {
    background-color: color(highlight);
}

.webbar_item_text {
    font-size: .7875rem;
    line-height: 1.35;
    padding: (1.5rem / 4) 0;
    display: block;
    white-space: nowrap;

}
