$grid-columns: 12;

@import 'grid';
@import 'colors';


html {
    overflow-y: scroll;
    @media only screen and (min-width: 640px){
        font-size: 86%;
    }
    @media only screen and (max-width: 639px){
        font-size: 75%;
    }
}

//////////Grid//////////////

.row > * {
    letter-spacing: normal;
    word-spacing: normal;
}

.wrap {
    max-width: 940px;

    @media only screen and (max-height: 760px) {
        padding-top: (1.5 * .5) * 1em;
    }
}

.c-4-12 {
    @include grid(4);

    @media only screen and (max-width:640px) {
        @include grid(5)
    }
}

.c-5-12 {
    @include grid(5);
}

.c-7-12 {
    @include grid(7);
}

.small_full {
    @media only screen and (max-width: 480px) {
        width: 100%;
    }
}

.push-1-12 {
    position: relative;
    left: width(1);
}

.smalls-push-0 {
    @media only screen and (max-width: 640px) {
        left: 0;
    }
}


//////////Top//////////////

.bg-white {
    background-color: rgba(#fff, .2);
}
.bg-gray {
    background-color: color('form');
}
.bg-blue {
    background-color: color('link');
}

//////////Cards//////////////

.card_head {
    display: table;
    width: 100%;
    text-align: center;
    padding: 0 1.5rem;
}

.card_head_image {
    padding-top: .75rem;
    padding-bottom: .75rem;

    @media only screen and (max-height: 800px) {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

.card_head_wrap {
    display: table-cell;
    vertical-align: middle;
}

.card_head_image {
    width: 22%;

    @media only screen and (max-height: 800px) {
        width: 16%;
    }

    @media only screen and (max-width: 575px) {
        width: 30%;
    }
    @media only screen and (max-width: 500px) {
        width: 3.5rem;
    }

    .list_view & {
        max-height: none;
    }
}

.card .box_flag_body {
    padding-bottom: .375rem;
}

//////////Small Cards//////////////

.list_view {

    .card-short {
        height: auto;
        width: 100%;
        margin-bottom: .75rem;
        border-bottom: 1px solid color(form);
        box-shadow: none;
        transform-origin: 50% 50%;
    }

    .card:hover .card_media {
        background-color: color(link, .9)
    }

    .card_media {
        transition: background 100ms ease-in;
        min-height: (1.5rem * 3.5);
        width: (1.5rem * 4);
        float: none;
    }

}


//////////Web Tools//////////////
.list_nav li {
    margin-bottom: (1.5rem / 4);
}

.card_body_wrap {
    line-height: 1.1;
}

.list_nav a {
    padding: .5rem;
    left: -.5rem;
    position: relative;
    transition: background 75ms ease-out;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    border-radius: 2px;
}

.list_nav a:hover {
    background-color: rgba(color('highlight'), .6);
    border-radius: 3px;
}

.row-even {
    display: table;
    table-layout: auto;
    min-width: 100%;
}

.webbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: mix(color('label'), color('subtle'), 10%);
    padding: .5rem 2% .2rem .5%;
}

.webbar_item {
    display: table-cell;
    direction: ltr;
    padding: .25rem 2.35% .05rem;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 15%;
}

.webbar_item-group {
    direction: rtl;
    display: table-cell;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.webbar_item-group .webbar_item {
    width: 20%;
}

.webbar_item img {
    width: 36px;
    max-width: none;
}


a.webbar_item:hover,
a.webbar_item:focus {
    border-color: color(link, .25);
    outline: none;
}

a.webbar_item:active {
    background-color: color(highlight);
}

.webbar_item_text {
    font-size: .7875rem;
    line-height: 1.35;
    padding: (1.5rem / 4) 0;
    display: block;
    white-space: nowrap;

}

@import 'v2';
