$grid-columns: 12;

@import 'grid';
@import 'colors';

html {
    overflow-y: scroll;
    @media only screen and (min-width: 640px){
        font-size: 15px;
    }
}

body {
    height: 100%;
}
.viewport {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
}

//////////Grid//////////////

.row > * {
    letter-spacing: normal;
    word-spacing: normal;
}

.wrap {
    max-width: 940px;
}

.c-4-12 {
    @include grid(4);
}

.c-5-12 {
    @include grid(5);
}

.c-7-12 {
    @include grid(7);
}

.small_full {
    @media only screen and (max-width: 480px) {
        width: 100%;
    }
}

.push-1-12 {
    position: relative;
    left: width(1);
}

.smalls-push-0 {
    @media only screen and (max-width: 640px) {
        left: 0;
    }
}

.flex-v {
    height: 100%;
}

.flex-v-1 {
    height: 6vh;
    max-height: (1.5rem * 3);
    min-height: 1.5rem;

    @media only screen and (max-height: 900px) {
        min-height: .75rem;
    }
}

.flex-v-2 {
    height: 10vh;
}

.flex-v-3 {
    height: 16.25vh;
    min-height: 7.5rem;
    max-height: (1.5rem * 10.5);

    @media only screen and (max-height: 800px) {
        height: 13vh;
    }
}


.center {
    display: table;
    width: 100%;
}

.center_wrap {
    display: table-cell;
    vertical-align: middle;
}

//////////Top//////////////

.hero {
    background-image: url('bg_hero.png');
    background-size: cover;
    background-position: center bottom;
    height: 18vh;
    max-height: (1.5rem * 18);
    width: 100%;
    display: table;
    padding: 1.5rem 0 1.5rem;

    @media only screen and (min-height: 800px) {
        height: 26vh;
    }

    @media only screen and (min-height: 1000px) {
        height: 35vh;
    }

}

.hero_wrap {
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
}

.bg-white {
    background-color: rgba(#fff, .6);
}
.bg-gray {
    background-color: color('form');
}
.bg-blue {
    background-color: color('link');
}
.spacer {
    width: 100%;
    display: block;
}

.card-flex-v {
    height: 100%;
    margin-bottom: 0;
}

.card_head {
    display: table;
    width: 100%;
    text-align: center;
    padding: 0 1.5rem;
}

.card_head_image {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.flex-v .card_head {
    height: 70%;

    @media only screen and (max-width: 640px), (max-height: 900px) {
        height: 65%;
    }
}
.flex-v .card_body {
    height: 30%;
    display: table;
    width: 100%;
    padding: 0 .5rem;
    vertical-align: middle;

    @media only screen and (max-width: 640px), (max-height: 900px) {
        height: 35%;
    }
}

.card_head_wrap {
    display: table-cell;
    vertical-align: middle;
}

.card_head_image {
    max-width: (1.5rem * 4);
    max-height: 75%;

    @media only screen and (max-width: 575px) {
        width: 5rem;
    }
    @media only screen and (max-width: 500px) {
        width: 3.5rem;
    }
}

.card .box_flag_body {
    padding-bottom: .375rem;
}

.card_expand.flex-v {
    height: 100%;
    max-height: (1.5rem * 8.75);
    margin-bottom: 0;
}

.card_expand.flex-v:hover,
.card_expand.flex-v:focus {
    transform: translateY(-1%);
    width: 102%;
    left: -1%;

    .card {
        height: 102%;
    }

    .card_head {
        background-color: color('highlight');
    }
}

.list_view {

    .card-short {
        height: auto;
        width: 100%;
        margin-bottom: .75rem;
        // border-radius: 0;
        border-bottom: 1px solid color(form);
        box-shadow: none;
    }

    .card_media {
        min-height: (1.5rem * 3.5);
        width: (1.5rem * 4);
        float: none;
    }

}

.list_nav li {
    margin-bottom: (1.5rem / 4);
}

.card_body_wrap {
    line-height: 1.1;
}

.list_nav a {
    padding: .5rem;
    left: -.5rem;
    position: relative;
    transition: background 75ms ease-out;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    border-radius: 2px;
}

.list_nav a:hover {
    background-color: rgba(color('highlight'), .7);
    border-radius: 3px;
}

.row-even {
    display: table;
    table-layout: auto;
    min-width: 100%;
}

.webbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: mix(color('label'), color('subtle'), 10%);
    padding: .5rem 2% .2rem .5%;
}

.webbar_item {
    display: table-cell;
    direction: ltr;
    padding: .25rem 2.35% .05rem;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 15%;
}

.webbar_item-group {
    direction: rtl;
    display: table-cell;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.webbar_item-group .webbar_item {
    width: 20%;
}

.webbar_item img {
    width: 36px;
    max-width: none;
}


a.webbar_item:hover,
a.webbar_item:focus {
    border-color: color(link, 'base', .25);
    outline: none;
}

a.webbar_item:active {
    background-color: color(highlight);
}

.webbar_item_text {
    font-size: .7875rem;
    line-height: 1.35;
    padding: (1.5rem / 4) 0;
    display: block;
    white-space: nowrap;

}
